
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>AboutUs</h2>

<div class="col-md-6">
    <img src="~/Images/Bible 2.jpg" />
</div>
<div class="col-md-6">
    <div style="font-family:'Lucida Console'">
        <h6>
            Jesus’ leadership was characterised by service as well as integrity, excellence, faith, hope and love, so we don’t just teach them to preach about Him but to imitate him and develop a servant attitude too.

        </h6>
        <h6>We Pride our yourselves in christian education</h6>
        <p>We provide our students the best christian education. We give them the materials for bible school</p>
    </div>
</div>
