
@{
    ViewBag.Title = "Admission";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Admission</h2>

<div class="col-md-6">
    <img src="~/Images/Bible 2.jpg" />
</div>
<div class="col-md-6">
    <div style="font-family:'Lucida Console'">
        <h6>Thinking about applying to our school ?</h6>
        <p>
            Everyone’s welcome!

            You must read our Doctrinal Statement, the Standards of Dress Code and Conduct, and our Financial Policy before applying to our school.
        </p>
    </div>
</div>