
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Home</h2>

<div class="col-md-6">
    <img src="~/Images/Bible 2.jpg" />
</div>
<div class="col-md-6">
    <div style="font-family:'Lucida Console'">
        <h6>
            WELCOME
            Our purpose is to advance the Kingdom of God through training and teaching people from all over the world.
        </h6>
        <p>Whatever God is leading you to do, preparation is never a waste of time. Statistics show that 80% of ministers drop out of the ministry, and 80% of those who stay are on the verge of burnout. I believe the lack of preparation, spiritually, academically, and practically are at the root of these statistics.</p>
    </div>
</div>
